* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

header {
  background-image: url("../images/popcorn.jpg");
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column {
  width: 100%;
  padding: 2%;
  border: 1px solid black;
  flex-direction: column;
  background-color: lightblue;
}

.column h2 {
  font-size: large;
  font-weight: bold;
}

.carousel {
  --current-slide: 0;
  position: relative;
  overflow: hidden;
}

.carousel-button {
  position: absolute;
  top: 15%;
  transform: translateY(-50%);
  z-index: 1;
  padding: 0;
  margin: 0.5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.1s;
}

.carousel-button:hover {
  color: grey;
}

.carousel-button_next {
  left: 0;
}

.carousel-button_previous {
  right: 0;

}

.slides {
  display: flex;
  width: 10%;
  transform: translateX(calc(-110% * var(--current-slide)));
}

.slide {
  flex: 0 0 100%;
  margin: 3%;
}

@media screen and (min-width: 768px) {
  .carousel-button {
    font-size: 2rem;
    margin: 1rem;
  }
}

footer {
  background-color: #bbb;
  padding: 10px;
}